Storing strings in variables

In [1]:
name = "Jocelyn"

In [2]:
age = 20

In [3]:
print name

Jocelyn

In [1]:
print name + age

NameError: name 'name' is not defined

str is string and int is integer - they are different data types. 
if you want to combine convert

In [5]:
print name + str(age)

Jocelyn20

In [14]:
letter1 = "M"
letter2 = "Y"
letter3 = "N"
letter4 = "A"
letter5 = "M"
letter6 = "E"

In [15]:
print letter2

Y

In [33]:
print letter1 + letter2 + letter3 + letter4 + letter5 + str(letter6)

MYNAM1

In [34]:
letter6= 1

In [26]:
print start + " IS " + name

NameError: name 'start' is not defined

In [27]:
gas = 2.35
truck = 14

In [28]:
print gas

2.35

In [29]:
3/5

0

In [30]:
3.0/5.0

0.6

In [77]:
colors = ["red","blue","green","yellow","brown","orange","pink","purple","burgundy","blanchedalmond"]

In [37]:
print colors[-1]

blanchedalmond

In [39]:
len(colors)

10

In [83]:
cars = {"ford": "f150", "volkswagen": "golf", "audi": "q2", "smart": "smartfor4", "bmw": "328i", "toyota":"corolla"}

In [43]:
print cars["audi"]

q2

In [45]:
print cars["toyota"]

corolla

In [78]:
# let's loop through the colors
for color in colors: 
    print color

red
blue
green
yellow
brown
orange
pink
purple
burgundy
blanchedalmond

In [79]:
# start after the first item 
for color in colors[1:]:
    print color

blue
green
yellow
brown
orange
pink
purple
burgundy
blanchedalmond

In [71]:
building = "annenberg"

In [72]:
building[0]

'a'

In [73]:
building[5:]

'berg'

In [74]:
building[:5]

'annen'

In [75]:
colors[:5]

'd'

In [80]:
for letter in building:
    print letter

a
n
n
e
n
b
e
r
g

In [81]:
for car in cars:
    print car

toyota
volkswagen
bmw
ford
smart
audi

In [84]:
print cars

{'toyota': 'corolla', 'volkswagen': 'golf', 'bmw': '328i', 'ford': 'f150', 'smart': 'smartfor4', 'audi': 'q2'}

In [85]:
# loop through cars and print 
for car in cars: 
    print car + " " + str(cars[car])

toyota corolla
volkswagen golf
bmw 328i
ford f150
smart smartfor4
audi q2

In [89]:
# loop through colors and print everything that's not blanchedalmond
for color in colors:
    if color is not "blanchedalmond":
        print color

red
blue
green
yellow
brown
orange
pink
purple
burgundy

In [90]:
# addition 
5 + 3

8

In [92]:
# subtraction 
4 - 2

2

In [93]:
# division 
8/2

4

In [94]:
# multiplication
3 * 3

9

In [96]:
#modulo
5 % 2

1

In [97]:
8 > 2

True

In [98]:
8 > 10

False

In [99]:
truck >= 14

True

In [100]:
print truck

14

In [101]:
# is gas greater than 3?
gas > 3

False

In [102]:
print gas

2.35

In [103]:
arkgas = gas

In [104]:
calgas = 4.00

In [105]:
calgas < arkgas

False

In [106]:
first_name = "jocelyn"

In [107]:
firstname = "jocelyn"

In [108]:
firstName = "jocelyn"

In [111]:
sentence = "Jon said, \"Hello.\""
print sentence

Jon said, "Hello."

In [112]:
sentence2 = "Danielle said, 'Can we do single quote?'"
print sentence2

Danielle said, 'Can we do single quote?'

In [113]:
sentence3 = "Jon said, \"Danielle said, 'Can we do single quotes?'\""
print sentence3

Jon said, "Danielle said, 'Can we do single quotes?'"

In [114]:
sentence4 = """
This is a line. 
And another line. 
And even one more line.
"""
print sentence4

This is a line.
And another line.
And even one more line.

In [115]:
# create a text file 
f = open("week2test.txt","w")

In [ ]:
# write a sentence to that file 
f.write(sentence4)

In [ ]:
#close the file for reading 
f = open("week2test.txt","r")

In [122]:
f.read()

ValueError: I/O operation on closed file

In [123]:
f.close()

In [124]:
f = open("week2test.txt","a")

In [125]:
f.write("I just added this line!")

In [126]:
f.close()

In [127]:
fruits = """
red 
\t*strawberry
\t*cherry
\t*apple
\t*raspberry
"""

In [128]:
print fruits

red
	*strawberry
	*cherry
	*apple
	*raspberry

In [129]:
f = open("week2test.txt","a")

In [130]:
f.write(fruits)

In [131]:
f.close()

In [132]:
import csv

In [141]:
# open up usc property fule 
f = open("usc.html","w")

# write header now 
f.write("<p><strong>ain</strong></p>\n")

#open the assessor file
with open("assessor.csv","r") as csvfile:
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    #loop through each row
    for row in assessor:
        # check if this assessor id number is in row
        if 'UNIVERSITY OF SOUTHERN CA' in row or 'UNIVERSITY OF SO CALIF' in row:
            print row[0]
            f.write("<p>" + row[0] + '</p>\n')
            
#close the file 
f.close()

7480-004-007
7480-040-026
5525-030-023
5525-032-017
5039-002-029
5039-002-030
5039-002-031
5039-002-032
5039-002-033
5039-002-034
5039-003-027
5039-003-029
5039-003-030
5039-012-027
5039-012-029
5039-012-030
5039-012-031
5039-012-033
5039-019-051
5039-024-016
5055-012-019
5055-027-022
5055-029-020
5055-029-021
5122-022-002
5122-025-006
5122-025-010
5122-025-012
5122-025-013
5123-004-403
5123-004-411
5123-004-433
5123-023-024
5123-023-025
5124-011-016
5139-029-027
2331-032-199

In [2]:
# define a new function 
def ladycat (time):
    if time is 'night':
        print "MEEOOWWW"
    elif time is 'day':
        print "prrrrr"
    else:
        print 'ZZZZ'

In [3]:
ladycat('night')

MEEOOWWW

In [4]:
ladycat('day')

prrrrr

In [6]:
ladycat('march')

ZZZZ